.chatbox{
  width: 802px;
  height: 518px;
  background: #282535;
  border-radius: 38px; 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.user_chat_container{
  display: flex;
  width: 100%;
  height: 100%;
}

.container_chat{
  order:2;
  height: 100%;
  width: 100%;
  
}

.title_txt{
  order:2;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #EDEDED;
  display: grid;
  place-items: center;

  height: 5%;

  
}

.container_user{
  height: 100%;
  width: 200px;
  margin-left: 0;
  margin-right: 0;
  
  background: #D9D9D9;
  border-radius: 38px;

  display: flex;
  justify-content: center;
}

.user{
  display: flex;
  justify-content: center;

  width: 100%;
  height: 80px;
}

#user_img{
  background-image: url(/public/img/hero.jpg);
  background-size: cover;
  object-fit: cover;
  width: 60px;
  height: 60px;
  border: 2px solid #41A8FC;
  border-radius: 80px;
  filter: brightness(80%);

  margin-top: 10px;

}

.user_name{

  margin: auto;
  padding-right: 15%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}

.container_sms{
  height: 95%;
  display: flex;
  flex-direction: column;

}

.chat_display{
  width: 98%;
  height: 85%;

}

.chat_text{
  height: 15%;


  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_text input{
  width: 70%;
  background: #303030;
  height: 60%;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 14px 5px rgba(0,0,0,0.41);
}

.chat_text input[type="text"]{
  padding-left: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  opacity: 1;
  color: #DBD7D7;
}

.chat_text input[type="text"]::placeholder{
  padding-left: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  opacity: 0.6;
  color: #DBD7D7;
}